@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.sign-up {
    position: absolute;
    right: 2%;
    top: 10%;
    width: 40%;
}

.sw{
    font-weight: 900;
    font-weight: bold;
    font-family: 'Lucida Sans', sans-serif;
    
}